.youtubeButton{
    color:#FF0000;
    background-color: #282828;
    border:1px solid #DFE3EE;
    font-size:20px;
    width:100px;
}

.vimeoButton{
    color:#19B7EA;
    background-color: white;
    border:1px solid #DFE3EE;
    font-size:20px;
    width:100px;
}

