.buttonItem{
    margin-top:5px;
    width:100px;
    height:40px;
    background-color: white;
    border:1px  lightgray solid;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
}

.itemsList{
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:5px;
}
