.upperBox{
    border-bottom:1px gray solid;
    height:80%;
}

.textInMiddle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size:18px;
    font-weight:bold;
}

.detailsBar{
    display: flex;
    justify-content: space-around;
}

.squareButton{
    height:20px;
    width:20px;
    margin:10px;
}

.listItem{
    background:white;
    padding:5px;
}